extends layout

block body
	.container
		#graph
		script(src='/js/d3.min.js')
		link(rel="stylesheet" type="text/css" href="/css/d3-tip-style.css")
		script(src='/js/d3-tip.js')
		script(src='/js/d3-graph.js')
		script(src='/js/jquery.tablesorter.min.js')
		script(type='text/javascript' async).
			graph('/graph/data/class/#{year}', (4/10));
			jQuery(document).ready(function($) {
				$(".data-row").click(function() {
					window.document.location = $(this).attr("href");
				});
				$("#class-data").tablesorter();
				$("body").css("overflow-x", "hidden");
			});
		ul.nav.nav-tabs
			li.active
				a(href="#") #{year}
			for oYear in otherYears
				li
					a(href="/graph/class/#{oYear}") #{oYear}
		table#class-data.table.table-hover
			thead
				tr
					th ID
					th Name
					th Gender
					th Grade
			tbody
				for mem in classMembers
					tr(href="/graph/users/#{mem.id}").data-row
						td #{mem.id}
						td #{mem.data.name}
						td #{mem.data.gender}
						td 
							a(href="/graph/class/#{mem.data.year}") #{mem.data.year}