extends layout

block body
	.container
		#graph
		script(src='/js/d3.min.js')
		link(rel="stylesheet" type="text/css" href="/css/d3-tip-style.css")
		script(src='/js/d3-tip.js')
		script(src='/js/d3-graph.js')
		script(src='/js/jquery.tablesorter.min.js')
		script(type='text/javascript' async).
			graph('/graph/data/users/#{dataUser.id}', (3/10));
			jQuery(document).ready(function($) {
				$(".data-row").click(function() {
					window.document.location = $(this).attr("href");
				});
				$("#rels-data").tablesorter();
				$('#graph').focus();
			});
		h2 User
		table#user-data.table.table-hover
			thead
				tr
					th ID
					th Name
					th Gender
					th Grade
			tbody
				tr
					td #{dataUser.id}
					td #{dataUser.data.name}
					td #{dataUser.data.gender}
					td 
						a(href="/graph/class/#{dataUser.data.year}") #{dataUser.data.year}
		br
		h2 Relationships
		table#rels-data.table.table-hover
			thead
				tr
					th ID
					th Name
					th Gender
					th Grade
			tbody
				for rel in dataRelations
					tr(href="/graph/users/#{rel.id}").data-row
						td #{rel.id}
						td #{rel.data.name}
						td #{rel.data.gender}
						td 
							a(href="/graph/class/#{rel.data.year}") #{rel.data.year}

